In [1]:
import pandas as pd

In [2]:
# Lectura de datos de la carpeta procesada
df = pd.read_csv('../data/processed/trafico_horario_processed.csv')

In [3]:
# Vistazo a la congestión del tráfico por hora
congestion_hora = df.groupby('hora')['nivel_congestion'].agg(lambda x: x.mode()[0])
congestion_hora

hora
0         Baja
1         Baja
2         Baja
3         Baja
4         Baja
5         Baja
6         Baja
7     Moderada
8     Muy Alta
9     Muy Alta
10    Moderada
11    Moderada
12    Moderada
13    Moderada
14    Moderada
15    Moderada
16    Moderada
17    Moderada
18    Muy Alta
19    Moderada
20    Moderada
21    Moderada
22        Alta
23        Baja
Name: nivel_congestion, dtype: object

In [4]:
# Vistazo a los tipos de coche por hora
tipos_por_hora = df.groupby('hora')[['coches', 'motos', 'camiones', 'buses']].sum()
tipos_por_hora['vehiculo_predominante'] = tipos_por_hora[['coches', 'motos', 'camiones', 'buses']].idxmax(axis=1)
tipos_por_hora

      coches  motos  camiones  buses vehiculo_predominante
hora
0       2791    236       693     85                coches
1       1833    155       455     54                coches
2       1152     96       286     32                coches
3        807     69       199     21                coches
4        940     80       233     26                coches
5       1520    127       375     46                coches
6       4240    353      1043    126                coches
7      13086   1092      3223    388                coches
8      19047   1593      4709    565                coches
9      16860   1409      4161    504                coches
10     11743    981      2899    350                coches
11      9687    810      2392    287                coches
12     10735    898      2651    319                coches
13     12824   1071      3164    384                coches
14     14662   1226      3622    437                coches
15     11425    953      2822    342                coches
16     10233    854      2525    302                coches
17     13878   1159      3424    414                coches
18     18059   1509      4461    538                coches
19     16331   1365      4030    487                coches
20     12423   1038      3063    367                coches
21      9136    761      2250    273                coches
22      6811    569      1677    200                coches
23      4154    347      1025    121                coches

In [5]:
# Unión de ambos vistazos por hora
df_unido = pd.merge(congestion_hora, tipos_por_hora, on='hora')

In [6]:
# Guardar datos en la carpeta de acceso
df_unido.to_csv('../data/access/trafico_horario_access.csv', index=True)